.navbarWrapper {
    width: 65%;
    margin: 0 auto;
    display: flex;
}
p {
    text-align: justify;
}

.jumbotron {
    padding: 1rem !important;
}

.form-control {
    height: calc(1.85rem + 2px);
}
.btn {
    padding: 0.245rem 0.75rem;
}

#mySlider {
    margin-top: 3.3rem;
}

.textOverlayWrapper {
    position: relative;   
    z-index: 10;
}

.textDiv {
    position: absolute;
    color: #E9ECEF;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 0rem; 
    text-align: center; 
    top: -38rem;
    left: 2.55rem;
}

.textDiv span {
    display: table;
}

.quienesSomosPic {
    float: left;
    margin-right: 1.5rem;
}

.section-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#map {
    height: 25rem;
}

