/*

author: xabertum
version: 1.0

*/



.navbarWrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');

p {
    text-align: justify;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
}
.text-bold {
    font-weight: bold;
}

h2,
h4,
p {
    font-family: 'PT Serif', serif;
}

h4 {
    margin-bottom: 1.1rem;
}

.jumbotron {
    padding: 1rem !important;
}

.form-control {
    height: calc(1.85rem + 2px);
}

.btn {
    padding: 0.245rem 0.75rem;
}

#padding-title {
    padding-bottom: 1rem;
}

#mySlider {
    margin-top: 3.3rem;
}

.textOverlayWrapper {
    position: relative;
    z-index: 10;
}

.textDiv {
    position: absolute;
    color: #E9ECEF;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    border-radius: 0rem;
    text-align: center;
    top: -38rem;
    width: 100%;
}

.textDiv span {
    display: table;
}

/* SECTIONS */

.quienesSomosPic {
    float: left;
    margin-right: 1.5rem;
}

.section-padding {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#map {
    height: 25rem;
    width: 96%;
    margin: 0 auto;
}